In [6]:
import pandas as pd
import numpy as np

In [36]:
op = pd.read_csv('./data/full_hessian_arm_cost_op.csv', sep=",", header=None, names=['Operation', 'Op1', 'Op2', 'File1', 'File2','File3','func1',  'func2', 'func3','line1','line2', 'line3'])

In [37]:
op['File1']=op['File1'].apply(lambda row: row.split('/')[-1])
op['File2']=op['File2'].apply(lambda row: row.split('/')[-1])
op['File3']=op['File3'].apply(lambda row: row.split('/')[-1])

ordered_col=['Operation', 'Op1', 'Op2', 'File1', 'func1','line1','File2','func2','line2', 'File3', 'func3', 'line3']
op=op[ordered_col]

In [38]:
display(op)

,Operation,Op1,Op2,File1,func1,line1,File2,func2,line2,File3,func3,line3
0,sub,[[ 2. 0. -0. 0.]],[-1. 0.1 0. 0. ],expressions.py,cost_control_in,31,TrajoptCost.py,value,214,TrajoptMPCReference.py,totalCost,202
1,mul,[[ 1.5 -0.05 -0. 0. ]],[[1. 0. 0. 0.]\n [0. 1. 0. 0.]\n [0. 0. 1. 0.]...,overloading.py,__matmul__,112,expressions.py,cost_control_in,31,TrajoptCost.py,value,214
2,sub,[ 2. 0. -0. 0.],[-1. 0.1 0. 0. ],expressions.py,cost_control_in,32,TrajoptCost.py,value,214,TrajoptMPCReference.py,totalCost,202
3,mul,[[ 1.5 -0.05 0. 0. ]],[ 3. -0.1 -0. 0. ],overloading.py,__matmul__,112,expressions.py,cost_control_in,31,TrajoptCost.py,value,214
4,mul,[0. 0.],[[0.1 0. ]\n [0. 0.1]],overloading.py,__matmul__,112,expressions.py,cost_control_in,33,TrajoptCost.py,value,214
...,...,...,...,...,...,...,...,...,...,...,...,...
10066,mul,[[11.2294 -1.2163 -0. 0. ]],[ 0.2246 -0.0243 -0. 0. ],overloading.py,__matmul__,112,expressions.py,cost_control_off,36,TrajoptCost.py,value,212
10067,add,[ 1. 1. 0.8705 0.4491 0.2735 0.11...,[ 1. 1. 0.8705 0.4491 0.2735 0.11...,exampleHelpers.py,joint_angles_to_ee_pos,19,exampleHelpers.py,runSolversSQP,99,exampleHelpers.py,runSQPExample,129
10068,add,[0.0002 0.0001 0.4922 0.8935 0.9619 0.993 0.9...,[0.0002 0.0001 0.4922 0.8935 0.9619 0.993 0.9...,exampleHelpers.py,joint_angles_to_ee_pos,20,exampleHelpers.py,runSolversSQP,99,exampleHelpers.py,runSQPExample,129
10069,sub,[ 2. 2. 1.741 0.8983 0.547 0.23...,-1.0,exampleHelpers.py,runSolversSQP,101,exampleHelpers.py,runSQPExample,129,twolinks.py,<module>,64
10070,sub,[0.0004 0.0001 0.9844 1.7869 1.9237 1.9861 1.9...,0.1,exampleHelpers.py,runSolversSQP,102,exampleHelpers.py,runSQPExample,129,twolinks.py,<module>,64

In [40]:
print(op['func1'].unique(), '\n',op['func2'].unique(),'\n', op['func3'].unique())

['cost_control_in' '__matmul__' 'cost_control_off'
 'totalHardConstraintViolation' 'forward_dynamics' 'integrator'
 'formKKTSystemBlocks' 'forward_dynamics_gradient' 'dot'
 'joint_angles_to_ee_pos' 'runSolversSQP']
 ['value' 'cost_control_in' 'cost_control_off' 'SQP' 'integrator'
 'totalHardConstraintViolation' 'solveKKTSystem_Schur'
 'formKKTSystemBlocks' 'runSolversSQP' 'runSQPExample']
 ['totalCost' 'value' 'runSolversSQP' 'totalHardConstraintViolation' 'SQP'
 'formKKTSystemBlocks' 'solveKKTSystem_Schur' 'runSQPExample' '<module>']

In [47]:
mul=op[op['Operation']=='mul']
mul['digit']=mul['Op1'].apply(lambda x: x[1])
mul.head()

/tmp/ipykernel_8155/3058525141.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mul['digit']=mul['Op1'].apply(lambda x: x[1])

,Operation,Op1,Op2,File1,func1,line1,File2,func2,line2,File3,func3,line3,digit
1,mul,[[ 1.5 -0.05 -0. 0. ]],[[1. 0. 0. 0.]\n [0. 1. 0. 0.]\n [0. 0. 1. 0.]...,overloading.py,__matmul__,112,expressions.py,cost_control_in,31,TrajoptCost.py,value,214,[
3,mul,[[ 1.5 -0.05 0. 0. ]],[ 3. -0.1 -0. 0. ],overloading.py,__matmul__,112,expressions.py,cost_control_in,31,TrajoptCost.py,value,214,[
4,mul,[0. 0.],[[0.1 0. ]\n [0. 0.1]],overloading.py,__matmul__,112,expressions.py,cost_control_in,33,TrajoptCost.py,value,214,0
5,mul,[0. 0.],[0. 0.],overloading.py,__matmul__,112,expressions.py,cost_control_in,33,TrajoptCost.py,value,214,0
8,mul,[[ 1.5 -0.05 -0. 0. ]],[[1. 0. 0. 0.]\n [0. 1. 0. 0.]\n [0. 0. 1. 0.]...,overloading.py,__matmul__,112,expressions.py,cost_control_in,31,TrajoptCost.py,value,214,[